:root {
  --title-size: 48pt;
  --title-label: 18pt;
  --title-weight: 50pt;
  
  --common-background-color: #00aeff;
  --main-text-color: #a3d7ec;
  --table-background: #2e3553;
  --form-field-background: #dbeaea;
  --button-background-color: #00d9ff;
}

body {
  
 background-color: #000000;

}


nav {
  text-align: center;
  margin: 20px;
}

.home {
  text-decoration: none;
  color: var(--common-background-color);
  font-size: 28px;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
}

.home:hover {
  color: aqua;
  border-bottom: 1px solid var(--main-text-color);
}

.section {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 24px;
  font-weight: 400;
  transition: color 0.5s ease-in-out;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
}

.section:hover {
  color: aqua;
  border-bottom: 1px solid var(--main-text-color);
}

.content {
  max-width: 500px;
  margin: auto;
}

.title {
  color: var(--main-text-color);
  font-size: var(--title-size);
  font-weight: normal;
  text-align: center;
}

.label {
  text-align: center;
  color: var(--main-text-color);
  font-size: var(--title-label);
}

.submit {
  margin: auto;
  text-align: center;
  font-size: var(--title-label);
}

.form-button {
  background: var(--common-background-color);
  border: 1px solid aqua;
  border-radius: 5px;
  padding: 3px 20px;
  transition: background-color 0.5s ease-in-out;
  font-weight: 500;
}

.form-button:hover {
  background: var(--button-background-color);
}

.form-field {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background: var(--form-field-background);
  border-radius: 5px;
}

footer {
  color: var(--main-text-color);
  margin: 20px 40px;
  text-align: right;
}

.link {
  color: var(--common-background-color);
  text-decoration: underline;
  text-transform: lowercase;
  padding: 0;
}

.link:hover {
  color: aqua;
  border: none;
}

table {
  text-align: center;
  color: var(--main-text-color);
  border: 1px solid var(--common-background-color);
  margin: 0 auto;
  width: 80%;
}

th {
  border-bottom: 1px solid var(--common-background-color);
  background-color: var(--title-label);
  padding: 5px;
}

td {
  padding: 3px;
  margin: auto;
}

.info {
  text-align: center;
  color:#b62a4b;
  font-size: var(--title-label);
}
